<ion-modal-view>
  <ion-header-bar class = "bar-positive">
    <h1 class="title">Buy Shares</h1>
  </ion-header-bar>

  <ion-content ng-init = "checkSharesAvail()">
   <div> 
    <p>How many shares would you like to buy?</p> I would like to buy <input ng-model="sharesToBuy"/> shares of {{user.name}}
    </div>
    <div class = "button-bar">
      <button ng-click="confirm()" class="button ion-ios-checkmark-outline" aria-label="Complete" ng-hide="revealOptions"></button>

      <button class="button ion-close-circled" ng-click="exit()" aria-label="Complete" ng-hide="revealOptions"> Cancel </button>
    </div> 
    <p ng-show = "revealOptions">You have selected more shares than are currently available. You have the following options:</p>
 
    <p ng-show = "revealOptions"> You may choose to make a partial purchase of {{availableShares}} shares and allow the rest of your transaction to be completed upon market availability.</p>

    <p ng-show = "revealOptions">You may choose to make a partial purchase of {{availableShares}} shares and immediately buy the remaining shares in your order from Karma Exchange at 110% of current market value.</p>

    <p ng-show="revealOptions">Or you may cancel your request</p>

    <button class="button button-positive button-small" ng-click="wait()" aria-label="Complete" ng-show="revealOptions"> Wait For Availability</button>

    <button class="button button-positive button-small" ng-click="buyDirect()" aria-label="Complete" ng-show="revealOptions"> Buy From Karma Exchange</button>

    <button class="button button-positive button-small" ng-click="exit()" aria-label="Complete" ng-show="revealOptions"> Cancel Your Order</button>
  </ion-content>
</ion-modal-view>