<ion-tabs class= "tabs-icon-top">
   <ion-tab class = "button button-positive " title="Home" icon = "icon icon-home" href= "#/profile/1"><ion-nav-view name = "profile"></ion-nav-view>
   <!-- Tab 1 content -->
   </ion-tab>
   
   <ion-tab class = "button button-positive " title="Fortune" href = '#/portfolio/1'>
   <!-- Tab 2 content -->
   </ion-tab><ion-nav-view name = "portfolio"></ion-nav-view>
   
   <ion-tab class = "button button-positive " title="Logout" href= '#/logout'>
   <!-- Tab 3 content -->
   </ion-tab><ion-nav-view name = "logout"></ion-nav-view>
 
</ion-tabs>